body{
margin:0;
font-family:Arial;
text-align:center;
color:white;
}

.container{
max-width:750px;
margin:auto;
padding:20px;
}

.row{
display:flex;
gap:12px;
justify-content:center;
flex-wrap:wrap;
margin:14px 0;
}

.btn{
padding:12px 18px;
border:none;
border-radius:14px;
cursor:pointer;
transition:.2s;
}

.btn:hover{
transform:scale(1.05);
}

.primary{
background:#ff004c;
color:white;
}

#gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(130px,1fr));
gap:12px;
margin-top:10px;
}

.photo{
width:100%;
border-radius:14px;
box-shadow:0 4px 12px #0005;
}

.tItem{
padding:16px;
border-radius:14px;
margin:12px 0;
text-align:left;
background:#ffffff22;
line-height:1.5;
}

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#0008;
display:flex;
align-items:center;
justify-content:center;
}

.hidden{display:none;}

.modalCard{
background:white;
color:black;
padding:22px;
border-radius:16px;
max-width:90%;
}

#broomEmoji{
font-size:32px;
}

.theme-orange{
background:linear-gradient(#ff9a3c,#111);
}

.theme-red{
background:linear-gradient(#ff2a2a,#5c008a);
}
